<div>
    <h1>Productos agregados</h1>
    {{#each products}}
        <h6>{{this.title}}</h6>
        <p>{{this.category}}</p>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <p>{{this.stock}}</p>
    {{/each}}
</div>